
@media only screen and (max-width: 1140px){
.nav-list{
		flex-direction: column;
	}
  
	.navbar{
		height: 447px;
		flex-direction: column;
		transition: all 0.7s ease-out;
    }


   	.box-main{
		flex-direction: column-reverse;
		max-width: 100%;
	}

	.rightNav{
		text-align: center;	
	}

	#search{
		width: 100%;
	}
	.burger{
		display: block;
	}

	.h-nav-resp{
    height: 68px;

	}

	.v-class-resp{
	opacity: 0;
	}

	.section{
	    flex-direction: column-reverse;
	}

	.text-small{
       text-align: center;
	}
    
    .text-big{
    	    text-align: center;
    }

    .buttons{
    	    text-align: center;
    }

   	.paras {
    padding: 0px;
}

html{
	scroll-behavior: smooth;
}
.secondHalf img {
    width: 30%;
    border: 4px solid wheat;
    border-radius: 79px;
    display: block;
    margin: auto;
}


.form {
    max-width: 62%;
    margin: 1px auto;
}

.form textarea {
    height: 9vh;
}


.btn {
    padding: 12px;
    font-size: 18px;
    padding: 3px 20px;
    margin: 1px 2px;
    /* border: solid; */
    border: 2px solid black;
    border-radius: 11px;
    cursor: pointer;
}
	
.form-input {
    margin: 7px 0;
    padding: 5px 2px;
    width: 94%;
    font-size: 19px;
    border: 2px solid goldenrod;
    border-radius: 6px;
}
	
.contact {
    background-color: #ece7e0;
    height: 100%;
}
	
}
